{
  "extends": "airbnb-base",
  "parserOptions": {
    "sourceType": "script"
  },
  "rules": {
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "functions": "never",
        "objects": "always-multiline"
      }
    ],
    "strict": ["error", "global"]
  }
}
